body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f1ebe6;
  margin: 20px 30px;
}

input {
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #1e71c5;
}

h1,
h3 {
  color: #ec4402;
}

img {
  border-radius: 8px;
  border: 2px solid #1e71c5;
  width: 20%;
}

.content {
  background-color: white;
  border-radius: 8px;
  padding: 10px 30px 30px;
  width: auto;
  margin: 40px 20px;
}
